<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Offside" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="Dash">
    <!--<header>-->
      <!--<div class="logo">-->
        <!--<a href="/dashboard" ><img src="images/jellyfish.png"></a>-->
      <!--</div>-->
    <!--</header>-->

    <div class="top">
      <h2>Dashboard</h2>
    </div>
    <div class="left">
      LEFT
    </div>
    <div class="main">
      MAIN
    </div>
  </div>



  </body>
</html>
