<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Offside" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){


            $(document).click(function(){
                $(".box").slideUp();

            });

            $(".slide-toggle").click(function(e){
                $(".box").slideToggle();
                e.stopPropagation()
            });

            $(".box").click(function(e){
                e.stopPropagation()
            });

        });
    </script>

    <script src="javascripts/index.js" type="text/javascript"></script>

  </head>
  <body>
  <div class="Dash">
    <!--<header>-->
      <!--<div class="logo">-->
        <!--<a href="/dashboard" ><img src="images/jellyfish.png"></a>-->
      <!--</div>-->
    <!--</header>-->

    <div class="left">
            <div class="logo_login">
                <img src="images/jellyfish.png">
            </div>
    </div>
    <div class="right">

      <div class="top">
          <div class="dash_title"><h3>Dashboard</h3></div>
        <div class="avatarFrame slide-toggle">
          <img width="36" height="36" class="profileImage" src="images/avatar.png">
        </div>

      </div>

      <div class="main">
        MAIN
      </div>
    </div>

  </div>
  <div class="box">
    <div class="box-inner">
          <div class="navbar-content">
                <p class="text-muted small">
                    <%= useremail %></p>
                <div class="divider">
                </div>
                <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
          </div>
          <div class="navbar-footer">
                <div class="col-md-6">
                  <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                </div>
                <div class="col-md-6">
                  <a  href="/logout" class="btn btn-default btn-sm pull-right">Sign Out</a>
            </div>
          </div>
    </div>
  </div>





  </body>
</html>
