<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Offside" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="Landing">
    <header>
      <div class="logo">
        <a href="/" ><img src="images/jellyfish.png"></a>
      </div>
  <a href="/login" class="Rectangle-2"  align="right">Login</a>
    </header>

  </div>



  </body>
</html>
